.mail-title {
  color: #fff;
  font-size: 3rem; }

.subtitle {
  color: #fff;
  font-size: 1.7rem; }

.card-title {
  font-weight: 400;
  font-size: 2rem; }

.card-info {
  padding-top: 0.3rem;
  font-size: 1.2rem; }

.u-margin-top-big {
  margin-top: 6rem; }

.u-margin-top-medium {
  margin-top: 3rem; }

.u-margin-top-small {
  margin-top: 1rem; }

.u-margin-right-btn {
  margin-right: 2rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #161616;
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 1.3;
  font-size: 1.4rem;
  color: #fff; }

.container {
  display: grid;
  grid-template-rows: 20vh;
  grid-template-columns: 1fr 550px 1fr; }

.header {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-between; }
  .header__logo {
    height: 100%;
    width: auto;
    z-index: 1; }
  .header__socials {
    align-self: center;
    font-size: 2rem;
    color: #fff; }
    .header__socials i {
      padding-left: 1rem; }

.introduction {
  grid-column: 2 / span 1; }

.content-primary {
  grid-column: 2 / span 1;
  position: relative;
  margin-top: 3rem; }
  .content-primary__img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1; }
  .content-primary__info {
    height: 31rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)); }
  .content-primary__logo {
    height: 6rem;
    margin: 8rem 0 4rem 3rem; }
  .content-primary__description {
    width: 27rem;
    margin-left: 3rem; }
  .content-primary__buttons {
    position: absolute;
    display: flex;
    align-items: center;
    right: 3.5rem; }

.content-secundary {
  grid-column: 2 / span 1;
  margin-top: 3rem; }
  .content-secundary__cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem; }
  .content-secundary__card {
    display: flex;
    align-items: flex-end; }
  .content-secundary__img {
    width: 100%;
    border-radius: 2px;
    overflow: hidden; }
  .content-secundary__text {
    padding: 1rem;
    height: 10rem;
    position: absolute;
    width: 17rem;
    background-image: linear-gradient(to top, black, rgba(255, 255, 255, 0)); }
  .content-secundary__icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem; }
    .content-secundary__icons i {
      padding-left: 0.9rem; }

.content-plus {
  grid-column: 2 / span 1;
  margin-top: 3rem; }
  .content-plus__content {
    position: relative; }
  .content-plus__title {
    margin-bottom: 2rem; }
  .content-plus__contents-extra {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem; }
  .content-plus__img {
    width: 100%;
    position: relative;
    border-radius: 2px; }
  .content-plus__text {
    padding: 1rem;
    height: 10rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(to top, black, rgba(255, 255, 255, 0)); }
  .content-plus__icons {
    position: absolute;
    right: 2rem; }
    .content-plus__icons i {
      padding-left: 1rem; }

.buttons__play {
  border: none;
  border-radius: 3px;
  background-color: #fff;
  padding: 0 3.5rem;
  height: 2.3rem;
  font-size: 1.1rem; }
  .buttons__play i {
    font-size: 0.9rem;
    margin-right: 0.6rem; }

.buttons__list {
  font-size: 2.5rem; }

.buttons__small {
  font-size: 2.2rem; }

.des-code {
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; }
  .des-code__title {
    font-weight: 700;
    margin-bottom: 1.5rem; }
  .des-code__code {
    margin-top: 2rem;
    border: 0.8px solid #fff;
    padding: 1rem 2rem; }

.footer {
  margin-top: 4rem;
  background-color: #1e1e1e;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column; }
  .footer__logo {
    margin: 0 auto;
    margin-bottom: 2rem; }
  .footer__logo img {
    margin-top: 2rem;
    width: 15rem; }
  .footer__info {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem; }
  .footer__item i {
    margin-right: 0.5rem; }
