.buttons {
  &__play {
    border: none;
    border-radius: 3px;
    background-color: $white-neutral;
    padding: 0 3.5rem;
    height: 2.3rem;
    font-size: 1.1rem;

    & i { 
      font-size: 0.9rem;
      margin-right: 0.6rem;
    }
  }

  &__list {
    font-size: 2.5rem;
  }

  &__small {
    font-size: 2.2rem;
  }
}
