.content-secundary {
  grid-column: 2 / span 1;
  margin-top: 3rem;

  &__cards {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
  }

  &__card {
    display: flex;
    align-items: flex-end;
  }

  &__img {
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
  }

  &__text {
    padding: 1rem;
    height: 10rem;
    position: absolute;
    width: 17rem;
    background-image: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(255, 255, 255, 0)
    );
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    & i {
      padding-left: 0.9rem;
    }
  }
}
