.footer {
  margin-top: $margin-sections + 1rem;
  background-color: #1e1e1e;
  grid-column: 2 / span 1;

  display: flex;
  flex-direction: column;

  &__logo {
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  &__logo img {
    margin-top: 2rem;
    width: 15rem;
  }

  &__info {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  &__item i {
    margin-right: 0.5rem;
  }
}
