.header {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-between;

  &__logo {
    height: 100%;
    width: auto;
    z-index: 1;
  }

  &__socials {
    align-self: center;
    font-size: 2rem;
    color: $white-neutral;

    & i {
      padding-left: 1rem;
    }
  }
}
