.header {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-between;
  background-color: aqua;

  &__logo {
    height: 100%;
    width: auto;
    z-index: 1;
  }

  &__socials {
    align-self: center;
    font-size: 2rem;
    color: $white-neutral;
  }
}
